<%- include('./partials/header') %>

<section id="landing">
    <div class="container text-center">
        <h1 class="display-1">Christiaan Alberts</h1>
        <hr>
        <h3 class="display-4">Web Developer</h3>
        <p class="landingDown pt-4"><i class="fas fa-caret-down fa-3x"></i></p>
        
    </div>
</section>

<div class="parallax1"></div>


<section id="section2">
    <div class="container text-center">
        <h1 class="display-4">Want a website?</h1>
        <hr>
        <h3>Not to worry, that is why people like me exist</h3>
    </div>
</section>

<div class="parallax2"></div>

<section id="section3">
    <div class="container text-center">
        <h1 class="display-4 text-center">Here's what I do</h1>
        <hr>
        
        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mt-4" style="width: 18rem;">
                    <img src="images/yelpCamp.png" class="card-img-top" alt="YelpCamp">
                    <div class="card-body">
                        <h5 class="card-title">Yelp Camp</h5>
                        <p class="card-text">A full stack web app for campsite posts, comments and users</p>
                        <a href="http://secure-savannah-06525.herokuapp.com/" target="_blank" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a href="https://github.com/tiaanAlberts/YelpCamp" target="_blank" class="btn btn-secondary"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mt-4" style="width: 18rem;">
                    <img src="images/colourGame.png" class="card-img-top" alt="Colour Game">
                    <div class="card-body">
                        <h5 class="card-title">Colour Game</h5>
                        <p class="card-text">A front-end javascript app to match colours</p>
                        <a href="https://colourgm.herokuapp.com/" target="_blank" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a href="https://github.com/tiaanAlberts/ColourGame" target="_blank" class="btn btn-secondary"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mt-4" style="width: 18rem;">
                    <img src="images/patatap.png" class="card-img-top" alt="Patatap Clone">
                    <div class="card-body">
                        <h5 class="card-title">Patatap Clone</h5>
                        <p class="card-text">A not so complex clone of <a href="http://www.patatap.com" target="_blank">Patatap</a></p>
                        <a href="https://patatapclne.herokuapp.com/" target="_blank" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a href="https://github.com/tiaanAlberts/PatatapClone" target="_blank" class="btn btn-secondary"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<%- include('./partials/footer') %>