<%- include('./partials/header') %>

<div id="pricing_content" class="container text-center">
    <div class="row justify-content-between">
        <div class="col-md-4 order-md-2">
            <div class="mt-4 mx-auto" id="header">
                <div class="card-body">
                    <h1 class="card-title display-4">Pricing</h1>
                    <p>If you have a unique situation we can work around your budget as well</p>
                    <hr>
                    <br>
                    <h3>See something you like?</h3>
                    <p>Head over to the contact page and let's make it happen</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="card mt-4 mx-auto">
                <div class="card-body">
                    <h3 class="card-title">Budget</h3>
                    <p class="card-text">Our most affordable rate</p>
                    <p>Ideal for small websites, such as small businesses, personal blogs, startups, or projects with limited budgets</p>
                    <h4>Starting at</h4>
                    <h3>R1500</h3>
                    <br>
                    <h4>Optional maintenance</h4>
                    <h3>R120 P/H</h3>
                </div>
            </div>
        </div>


        
        <div class="col-md-4 order-md-3">
            <div class="card mt-4 mx-auto">
                <div class="card-body">
                    <h3 class="card-title">Standard</h3>
                    <p class="card-text">Our most affordable rate</p>
                    <p>Ideal for small to mid sized websites with increased traffic such as, portfolio sites and e-commerce sites</p>
                    <h4>Starting at</h4>
                    <h3>R3000</h3>
                    <br>
                    <h4>Optional maintenance</h4>
                    <h3>R220 P/H</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>